.modalContent{
	width: 670px;
}

.modalBodyMargins{
	margin: 0px 0px 20px 20px;
	height: 468px;
	overflow: auto;
}

.paymentInfoDivHeight{
	height: 100px;
}

.fa-asterisk{
	color: red;
}

.div1 div select{
	width:290px;
	height:35px;
}

form div p{
	color:red;
}

.freqDatepick{
	width:188px;
	height:35px;
}

.textarea{
	width:600px;height: 55px
}

.modal-footer .row p{
	float: left;
	text-align: center;
	font-size: 11px;
}

.fa-info-circle,.fa-calendar-o{
	font-size: 20px;
}