.homeImage {
    background-image: url(../images/homeImage.jpg);
    height: 588px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.titlePosition {
    padding: 100px 0px 0px 160px;
}

md-card img {
    height: 200px
}

.toursButton {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 159, 28);
    border-color: rgb(255, 159, 28);
}

.whySunTravelImage {
    background-image: url(../images/whySunTravel.jpg);
    height: 588px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.whyIcons {
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border-collapse: collapse;
    background-color: #2ec4b6;
    border-radius: 100%;
    margin: 22px;
    padding: 9px;
    color: white;
    font-size: 30px;
}

.whyCards p {
    font-size: 14px;
}

.reviews img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.reviews p {
    letter-spacing: 5px;
}

.reviews i {
    opacity: 0.5;
}

.compareFlights {
    background-image: url("../images/fastestWayBooking.jpg");
    width: 100%;
    height: 572px;
    background-repeat: no-repeat;
    background-size: cover;
}

.compareFlights div{
    color: white;
    padding-top:75px;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}

.contactClass{
    margin-top: 26px;
    opacity: 0.8;
    font-size: 14px;
}