.navbar-fixed-left .navbar-nav li {
  float: none;
  text-align: center;
  position: relative;
  font-size: 20px;
}
.navbar-fixed-left .navbar-nav li:hover {
  background-color: black;
}
.navbar-fixed-left .navbar-nav .glyphicon {
  font-size: 30px;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  -webkit-perspective: 600px;
}
.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cards .containing {
  padding: 2px 16px;
}
.front,
.back {
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.back {
  -webkit-transform: rotateY(-180deg);
}
.flip-card:hover .back {
  -webkit-transform: rotateY(0);
}
.flip-card:hover .front {
  -webkit-transform: rotateY(180deg);
}
