  <div ng-controller="paymentInfoCtrl as paymentInfoData">
      <div class="modal-header">

        <button type="button" class="close" ng-click="values.closeIt()"  >&times;</button>
        <h4 class="modal-title">Payment Information</h4>

      </div>
      <!-- Modal Body -->
      <div class="modal-body modalBodyMargins container-fluid" >
      


        <div class="row paymentInfoDivHeight">

          <form class="form-inline div1" novalidate>
            
            <div class="col-md-6">
                <h5>Payment Type <sup><i class="fa fa-asterisk"></i></sup></h5>
              
                <dropdown data='paymentInfoData.paymentType' select="values.details.selectedPaymentType" ></dropdown>
                <p style="color: red">{{values.message.PaymentType}}</p>
            </div>
            
            <div class="form-group col-md-6">
                <h5>Accounting Type <sup><i class="fa fa-asterisk"></i></sup></h5>

                <dropdown data='paymentInfoData.AccountingType' select="values.details.selectedAccountType" ></dropdown>
                <p style="color: red">{{values.message.AccountType}}</p>
            </div>
              
          </form>

        </div>

        <div class="row paymentInfoDivHeight ">

          <form class="form-inline" novalidate>
          
            <div class="form-group col-md-4">
              <h5>Frequency <sup><i class="fa fa-asterisk"></i></sup></h5>

              <dropdown data='paymentInfoData.frequecyType' select="values.details.selectedFrequencyType" ></dropdown>
              <p style="color: red">{{values.message.FrequencyType}}</p>
            </div>
            
            <div class="form-group col-md-4">
              <h5>Period Start Date <sup><i class="fa fa-asterisk"></i></sup></h5>
              
              <div class="input-group date freqDatepick" data-provide="datepicker">

                <input type="text" required class="form-control" ng-model="values.details.selectedPeriodStarts" placeholder="mm/dd/yyyy" >
                <div class="input-group-addon">
                  <span><i class="fa fa-calendar-o fa-1x"></i></span>
                </div>

              </div>

              <p style="color: red">{{values.message.PeriodStarts}}</p>


            </div>

            <div class="form-group col-md-4">

              <h5>Payment Timing <sup><i class="fa fa-asterisk"></i></sup></h5>

              <dropdown data='paymentInfoData.PaymentTiming' select="values.details.selectedPaymentTiming" ></dropdown>
              <p style="color: red">{{values.message.PaymentTiming}}</p>

            </div>
            
          </form>

        </div>


        <div class="row paymentInfoDivHeight container-fluid">

          <form class="form-inline" novalidate>
          
            <div class="form-group col-md-4" ng-if='((values.details.selectedFrequencyType != "Other") && (values.details.selectedFrequencyType != "Monthly"))'>

              <h5>Payment Due On <sup><i class="fa fa-asterisk"></i></sup></h5>

              <dropdown data='paymentInfoData.PaymentDueOn' select="values.details.selectedPaymentDueOn" ></dropdown>
              <p style="color: red">{{values.message.PaymentDueOn}}</p>
              

            </div>

            <div class="form-group col-md-4" ng-if='(values.details.selectedFrequencyType != "Other") && ((values.details.selectedFrequencyType == "Monthly")|| !(values.details.selectedPaymentDueOn != "Specific Day of Period"))'>

              <h5>Payment Due Day <sup><i class="fa fa-asterisk"></i></sup></h5>

              <dropdown data='paymentInfoData.PaymentDueDay' select="values.details.selectedPaymentDueDay" ></dropdown>

              <p style="color: red">{{values.message.PaymentDueDay}}</p>



            </div>

            <div class="form-group col-md-4">

              <h5>Accounting Cost Center</h5>
              <input type="text" class="form-control freqDatepick" ng-model="values.selectedAccountingCost" placeholder="0">

            </div>
            
          </form>

        </div><br>

        <div>

          <input type="checkbox">Option Term Payment 
          
        </div><br>

        <div>

            <h5>Description</h5>
            <textarea rows="4" cols="50" class="textarea"></textarea>

        </div>

      </div>
  </div>  