<!-- Modal -->


<div ng-controller="paymentParamsCtrl as paymentParamData">
  <div class="modal-header">
    <button type="button" class="close" ng-click="values.closeIt()">&times;</button>
    <h4 class="modal-title">Payment Parameters</h4>
  </div>
  
  <div class="modal-body modalBodyMargins">
    <div class="row">
      <form class="form-inline myForm">
        
          <div class="form-group col-md-6" ng-if='!(values.details.selectedFrequencyType == "Other")'>
            <h5>Growth Type</h5>

            <dropdown data='paymentParamData.GrowthType' select="values.details.selectedGrowth" ></dropdown>

          </div>
          
          <div class="form-group col-md-6" ng-if='(values.details.selectedFrequencyType != "Other") && (values.details.selectedGrowth != "Fixed")'>
            <h5>Fixed Growth</h5>
             <input type="text" class="form-control payParamThirdDivData" placeholder="0" ng-model="values.details.selectedFixedGrowth">
          </div>
                       
      </form>
    </div><br>

    <div class="row">
      <form class="form-inline myForm">
      
        <div class="form-group col-md-6" ng-if='values.details.selectedFrequencyType != "Other"'>
          <h5>Number of Schedules</h5>
             <input type="text" class="form-control payParamThirdDivData" ng-model="values.details.selectedNoOfSchedules" placeholder="0">
        </div>
        
        <div class="form-group col-md-6" ng-if='values.details.selectedFrequencyType != "Other"'>
          <h5>Adjust Every(x) Months</h5>
          <input type="text" class="form-control payParamThirdDivData" ng-model="values.details.selectedAdjustEveryMonth" placeholder="0">

        </div>
        
      </form>
    </div><br>


    <div class="row">
       <form class="form-inline myForm" novalidate>
      
          <div class="form-group col-md-4" ng-if='values.details.selectedFrequencyType != "Other"'>
            <h5>Charge Amount Basis <sup><i class="fa fa-asterisk" ></i></sup></h5>

            <dropdown data='paymentParamData.ChargeAmountBasis' select="values.details.selectedChargeAmount" ></dropdown>

            <p style="color: red">{{values.message.ChargeAmount}}</p>
          </div>
        
        <div class="form-group col-md-4" ng-if='values.details.selectedFrequencyType != "Other"'>
          <h5>Contract Rentable</h5>
          <input type="text" class="form-control payParamThirdDivData" ng-model="values.details.selectedContract" placeholder="0"><span> square-feet</span>
        </div>
        
        <div class="form-group col-md-4">
          <h5>Amount Per Basis</h5>
          <input type="text" class="form-control payParamThirdDivData" ng-model="values.details.selectedAmountPerBasis " placeholder="0">
        </div>

      </form>
    </div><br><br>
  </div>
</div>  

