  <div ng-controller="paymentInfoCtrl as paymentInfoData">
      <div class="modal-header">

        <button type="button" class="close" ng-click="values.closeIt()"  >&times;</button>
        <h4 class="modal-title">Payment Information</h4>

      </div>
      <!-- Modal Body -->
      <div class="modal-body modalBodyMargins container-fluid" >
        
        <div class="row paymentInfoDivHeight">

          <form class="form-inline div1" novalidate>
            
              <div class="form-group col-md-6">
                  <h5>Payment Type <sup><i class="fa fa-asterisk"></i></sup></h5>
                  <select class="form-control"  ng-model="values.selectedPaymentType" ng-options="item for item in paymentInfoData.paymentType"  required>
                  </select>

                  <p style="color: red">{{values.z.PaymentType}}</p>
              </div>
              
              <div class="form-group col-md-6">
                  <h5>Accounting Type <sup><i class="fa fa-asterisk"></i></sup></h5>
                  <select class="form-control" ng-model="values.selectedAccountType" required ng-options="item for item in paymentInfoData.AccountingType">
                  </select>
                  <p style="color: red">{{values.z.AccountType}}</p>
              </div>
              
          </form>

        </div>

        <div class="row paymentInfoDivHeight ">

          <form class="form-inline" novalidate>
          
            <div class="form-group col-md-4">

                <h5>Frequency <sup><i class="fa fa-asterisk"></i></sup></h5>
                <select required class="form-control freqDatepick"  ng-model="values.selectedFrequencyType" ng-options="item for item in paymentInfoData.frequecyType"></select>
                <p style="color: red">{{values.z.FrequencyType}}</p>


            </div>
            
            <div class="form-group col-md-4">

                <h5>Period Start Date <sup><i class="fa fa-asterisk"></i></sup></h5>
                <div class="input-group date freqDatepick" data-provide="datepicker">

                  <input type="text" required class="form-control" ng-model="values.selectedPeriodStarts" placeholder="mm/dd/yyyy" >
                  <div class="input-group-addon">
                      <span><i class="fa fa-calendar-o fa-1x"></i></span>
                  </div>

                </div>
                <p style="color: red">{{values.z.PeriodStarts}}</p>


            </div>

            <div class="form-group col-md-4">

                <h5>Payment Timing <sup><i class="fa fa-asterisk"></i></sup></h5>
                <select required class="form-control" ng-model="values.selectedPaymentTiming" ng-options="item for item in paymentInfoData.PaymentTiming"></select>
                <p style="color: red">{{values.z.PaymentTiming}}</p>


            </div>
            
          </form>

        </div>


        <div class="row paymentInfoDivHeight container-fluid">

          <form class="form-inline" novalidate>
          
            <div class="form-group col-md-4" ng-if='values.selectedFrequencyType != "Other"'>

                <h5>Payment Due On <sup><i class="fa fa-asterisk"></i></sup></h5>
                <select required class="form-control freqDatepick" ng-model="values.selectedPaymentDueOn"  ng-options="item for item in paymentInfoData.PaymentDueOn">
                </select>
                <p style="color: red">{{values.z.PaymentDueOn}}</p>


            </div>

            <div class="form-group col-md-4" ng-if='(values.selectedFrequencyType != "Other") && ((values.selectedFrequencyType == "Monthly")||(values.selectedPaymentDueOn != "Specific Day of Period"))'>

                <h5>Payment Due Day <sup><i class="fa fa-asterisk"></i></sup></h5>
                <select required class="form-control freqDatepick" ng-model="values.selectedPaymentDueDay" ng-disabled="disablePaymentDueDay" ng-options="item for item in  paymentInfoData.PaymentDueDay">
                </select>
                <p style="color: red">{{values.z.PaymentDueDay}}</p>


            </div>

            <div class="form-group col-md-4">

                <h5>Accounting Cost Center</h5>
                <input type="text" class="form-control freqDatepick" ng-model="values.selectedAccountingCost" placeholder="0">

            </div>
            
          </form>

        </div><br>

        <div>

          <input type="checkbox">Option Term Payment 
          
        </div><br>

        <div>

            <h5>Description</h5>
            <textarea rows="4" cols="50" class="textarea"></textarea>

        </div>

      </div>
  </div>  