<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content modalContent">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Payment Information</h4>
        </div>
        <div class="modal-body modalBodyMargins">
         	
          <div class="row paymentInfoDivHeight">
            <form class="form-inline div1" novalidate>
              
                <div class="form-group col-md-6">
                  <h5>Payment Type <sup><i class="fa fa-asterisk"></i></sup></h5>
                    <select class="form-control"  ng-model="selectedPaymentType" ng-options="item for item in paymentType" required>
                    </select>

                    <p ng-show="isChecked">Please fill out this field</p>
                </div>
                
                <div class="form-group col-md-6">
                    <h5>Accounting Type <sup><i class="fa fa-asterisk"></i></sup></h5>
                    <select class="form-control" ng-model="selectedAccountType" ng-options="item for item in AccountingType" required>
                    </select>
                    <p ng-show="isChecked">Please fill out this field</p>
                </div>
                
            </form>
          </div>

          <div class="row paymentInfoDivHeight">
            <form class="form-inline" novalidate>
            
              <div class="form-group col-md-4">
                  <h5>Frequency <sup><i class="fa fa-asterisk"></i></sup></h5>
                  <select required data-live-search="true" data-live-search-style="startsWith" class="form-control freqDatepick"  ng-model="selectedFrequencyType" ng-options="item for item in frequecyType">
                   
                  </select>
                  <p ng-show="isChecked">Please fill out this field</p>
              </div>
              
              <div class="form-group col-md-4">
                  <h5>Period Start Date <sup><i class="fa fa-asterisk"></i></sup></h5>
                  <div class="input-group date freqDatepick" data-provide="datepicker" >
                    <input type="text" required class="form-control" ng-model="selectedPeriodStarts" placeholder="mm/dd/yyyy" >
                    <div class="input-group-addon">
                        <span><i class="fa fa-calendar-o fa-1x"></i></span>
                    </div>
                  </div>
                  <p ng-show="isChecked">Please fill out this field</p>
              </div>

              <div class="form-group col-md-4">
                  <h5>Payment Timing <sup><i class="fa fa-asterisk"></i></sup></h5>
                  <select required class="form-control" ng-model="selectedPaymentTiming" ng-options="item for item in PaymentTiming">
                    </select>
                  <p ng-show="isChecked">Please fill out this field</p>
              </div>
              
            </form>
          </div>


          <div class="row paymentInfoDivHeight">
            <form class="form-inline" novalidate>
            
              <div class="form-group col-md-4">
                  <h5>Payment Due On <sup><i class="fa fa-asterisk"></i></sup></h5>
                  <select required class="form-control freqDatepick" ng-model="selectedPaymentDueOn" ng-options="item for item in PaymentDueDay">
                  </select>
                  <p ng-show="isChecked">Please fill out this field</p>
              </div>
              
              <div class="form-group col-md-4">
                  <h5>Payment Due Day <sup><i class="fa fa-asterisk"></i></sup></h5>
                  <select required class="form-control freqDatepick" ng-model="selectedPaymentDueDay" ng-options="item for item in PaymentDueOn">
                  </select>
                  <p ng-show="isChecked">Please fill out this field</p>
              </div>

              <div class="form-group col-md-4">
                  <h5>Accounting Cost Center</h5>
                  <input type="text" class="form-control freqDatepick" ng-model="selectedAccountingCost" placeholder="0">
                  
              </div>
              
            </form>
          </div><br>

          <div>

            <input type="checkbox">Option Term Payment 
            
          </div><br>

          <div>
              <h5>Description</h5>
              <textarea rows="4" cols="50" class="textarea"></textarea>
          </div>

      </div>

        <div class="modal-footer">

          <div class="row">
            <p class="col-md-2" ><i class="fa fa-info-circle" style="color:blue"></i><br>Information</p>
            <p class="col-md-2" style="opacity: 0.5"><i class="fa fa-calendar-o fa-1x" ></i><br>Parameters</p>
            <button type="button" style="margin-right: 25px" class="btn btn-default" data-dismiss="modal" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#paymentParams" ng-click="nextModal()">></button>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>









