<div data-ng-controller="ModalDemoCtrl as ctrl">
 <div class="tableTemplate">
    <table class = "table">
      <thead class="tableheadColor">
        <tr class="tableHeadRow">
          <th></th>
          <th>Frequency Type</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Total Cash With Tax</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody data-ng-repeat = '(key,value) in ctrl.totalDetails' >
     
      <tr class="col-md-12" data-toggle="collapse" data-target="#{{$index}}" class="accordion-toggle" ng-click="toggleArrow()">
       <td colspan="6">{{key}}<span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.down, 'glyphicon-chevron-right': ctrl.up}"></i></span></td>

       
      </tr>
    

      <tr>
       <td colspan="12" class="hiddenRow">
        <div class="accordian-body collapse" id="{{$index}}">
         <table class="table table-responsive col-md-12 innerTable">

          <tbody data-ng-repeat="tableData in value">
           <tr class="text-center">
            <td class="col-md-2 text-center"><i class="fa fa-hourglass-half" aria-hidden="true"></i></td>
            <td class="col-md-2  text-center">{{tableData.FrequencyType}}</td>
            <td class="col-md-2  text-left">{{tableData.PeriodStarts}}</td>
            <td class="col-md-2  text-left">21/7/1985</td>
            <td class="col-md-2">0.00</td>
            <td class="col-md-2 text-center">
              <i class="col-md-6 fa fa-pencil" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" data-ng-click="ctrl.edit('lg',key,$index)"></i>
              <i class="col-md-6 fa fa-times" aria-hidden="true" data-toggle="modal" data-target="#deleteModal" data-backdrop="static" data-keyboard="false" data-ng-click="ctrl.delete('sm',key,$index)"></i>
            </td>

           </tr>
          </tbody>

          </table>
        </div>
      </td>
    </tr>
  </tbody>

    </table>

    
 
      <button type="button" class="btn btn-success btn-block" data-ng-click="ctrl.newModal('lg')">ADD</button>
      
    </div> 
 
   
 

   



</div>  



 









  

