<html>
	<head>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

		<link rel="stylesheet" type="text/css" href="lesstyle.css">
		<script type="text/javascript" src="backend.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="myCtrl">
		<table class="table table-hover ">
			<thead class="backgrounds">
		      <tr>
		        <th ng-click="orderBy('alpha')">Row 1</th>
		        <th ng-click="orderBy('number')">Row 2</th>
		        <th ng-click="orderBy('animal')">Row 3</th>
		        <th ng-click="orderBy('link')">Row 4</th>
		      </tr>
			</thead>
			<tfoot class="backgrounds">
		      <tr>
		        <th ng-click="orderBy('alpha')">Row 1</th>
		        <th ng-click="orderBy('number')">Row 2</th>
		        <th ng-click="orderBy('animal')">Row 3</th>
		        <th ng-click="orderBy('link')">Row 4</th>
		      </tr>
			</tfoot>
			<tbody>
				<tr>
					<td><input type="text" ng-model="alpha"></td>
					<td><input type="text" ng-model="num"></td>
					<td><input type="text" ng-model="animal"></td>
					<td><input type="text" ng-model="site"></td>

				</tr>
				<tr ng-repeat="x in records | filter: {alpha:alpha,number:num,animal:animal,site:site} | orderBy:myOrderBy">
					<td>{{x.alpha}}</td>
					<td>{{x.number}}</td>
					<td>{{x.animal}}</td>
					<td>{{x.link}}</td>
				</tr>
			</tbody>
		
		</table>	
		
	</body>


</html>