<html>

	<head>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
	</head>

	<body class="container" ng-app="myApp">
		<div class="row"> <br>
			 <div class="box col-md-1 col-md-offset-0">
			 	<div value="1" actualdir ng-click="ele($event)">
					<div class="front" >a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="google.png" style="width:60px;height:60px;">
					</div>
				</div>
			</div>
    
			 <div class="box col-md-1 col-md-offset-1">
			 	<div value= "1" actualdir ng-click="ele($event)">
					<div class="front">a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="google.png" style="width:60px;height:60px;">
					</div>
				</div>
			</div>
			 <div class="box col-md-1 col-md-offset-1">
			 	<div value="2" actualdir ng-click="ele($event)">
					<div class="front" >a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="bmw.png" style="width:60px;height:60px;">
					</div>
				</div>
			</div>
			 <div class="box col-md-1 col-md-offset-1">
			 	<div value="2" actualdir ng-click="ele($event)">
					<div class="front">a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="bmw.png" style="width:60px;height:60px;">
					</div>	
				</div>
			</div>
			 <div class="box col-md-1 col-md-offset-1">
			 	<div value="3" actualdir ng-click="ele($event)">
					<div class="front">a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="fanta.jpg" style="width:60px;height:60px;">
					</div>
				</div>
			</div>
			 <div class="box col-md-1 col-md-offset-1">
			 	<div value="3" actualdir ng-click="ele($event)">
					<div class="front" >a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="fanta.jpg" style="width:60px;height:60px;">
					</div>
				</div>
			</div>

			<div class="box col-md-1 col-md-offset-1">
			 	<div value="4" actualdir ng-click="ele($event)">
					<div class="front" >a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="hp.jpg" style="width:60px;height:60px;">
					</div>
				</div>
			</div>

			<div class="box col-md-1 col-md-offset-1">
			 	<div value="4" actualdir ng-click="ele($event)">
					<div class="front" >a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="hp.jpg" style="width:60px;height:60px;">
					</div>
				</div>
			</div>

			<div class="box col-md-1 col-md-offset-1">
			 	<div value="5" actualdir ng-click="ele($event)">
					<div class="front" >a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="mozilla.png" style="width:60px;height:60px;">
					</div>
				</div>
			</div>

			<div class="box col-md-1 col-md-offset-1">
			 	<div value="5" actualdir ng-click="ele($event)">
					<div class="front" >a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="mozilla.png" style="width:60px;height:60px;">
					</div>
				</div>
			</div>

			<div class="box col-md-1 col-md-offset-1">
			 	<div value="6" actualdir ng-click="ele($event)">
					<div class="front" >a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="puma.jpg" style="width:60px;height:60px;">
					</div>
				</div>
			</div>

			<div class="box col-md-1 col-md-offset-1">
			 	<div value="6" actualdir ng-click="ele($event)">
					<div class="front" >a<img src="logo.jpg" style="width:60px;height:60px;">
					</div>
					<div class="back">a<img src="puma.jpg" style="width:60px;height:60px;">
					</div>
				</div>
			</div>





		</div>

		



		<script type="text/javascript" src="backend.js"></script>

	</body>

</html>