.box {
	width: 100px;
    height: 100px;
    border: 1px solid;	
}

/*
.front,
.back {
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}*/

.front,.back{
	position: absolute; 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; 
    transition: -webkit-transform .5s; 
    transition: transform .5s; 
    -webkit-transform: perspective( 80px ) rotateY( 0deg ); 
    transform: perspective( 80px ) rotateY( 0deg ); 
}


.back {
  -webkit-transform: rotateY(-180deg);
}

.myObj {
  -webkit-transform: rotateY(180deg);
  
}

.normal {
  -webkit-transform: rotateY(0deg);
  
}


