.box {
	width: 100px;
    height: 100px;
    border: 1px solid blue;	
}


.front,
.back {
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.back {
  -webkit-transform: rotateY(-180deg);
}

.myObj {
  -webkit-transform: rotateY(180deg);
}

.normal {
  -webkit-transform: rotateY(0deg);
}
