		
<div class="videocontentregion">
	<!--border around a specific video-->	
	<div class="videoarea">
			<!--container for the video and masking it-->
			<div id="container" style="float:left">
				<div id="infoi"><iframe width="200px" height="200px" src="https://www.youtube.com/embed/6v2L2UGZJAM" frameborder="0" allowfullscreen></iframe></div>
				<div id="navi"><button class="videobutton" type="button" class="btn btn-link" data-toggle="modal" data-target="#video1"></button></div>
			</div>
			<!--Model for the video-->
			<div class="modal fade" id="video1" role="dialog">
				<div class="modal-dialog">
				
				  <!-- Modal content-->
				  <div class="modal-content" style="height:500px">
					<!--Youtube video with autoplay after opening the modal-->
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/y5P_QrfHCHA?autoplay=1" allowfullscreen>
						</iframe>
				
				  </div>
				  
				</div>
			</div> 
	</div>
	<!--border around a specific video-->		
	<div class="videoarea">
			<!--container for the video and masking it-->
			<div id="container" style="float:left">
				<div id="infoi"><iframe width="200px" height="200px" src="https://www.youtube.com/embed/-HhXOz0EsP0" frameborder="0" allowfullscreen></iframe></div>
				<div id="navi"><button class="videobutton" type="button" class="btn btn-link" data-toggle="modal" data-target="#video2"></button></div>
			</div>
			<!--Model for the video-->
			<div class="modal fade" id="video2" role="dialog">
				<div class="modal-dialog">
				
				  <!-- Modal content-->
				  <div class="modal-content" style="height:500px">
					<!--Youtube video with autoplay after opening the modal-->
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/-HhXOz0EsP0?autoplay=1" allowfullscreen>
						</iframe>
				
				  </div>
				  
				</div>
			</div> 
	</div>
	<!--border around a specific video-->		
	<div class="videoarea">
			<!--container for the video and masking it-->
			<div id="container" style="float:left">
				<div id="infoi"><iframe width="200px" height="200px" src="https://www.youtube.com/embed/mH0sIjAHBVY" frameborder="0" allowfullscreen></iframe></div>
				<div id="navi"><button class="videobutton" type="button" class="btn btn-link" data-toggle="modal" data-target="#video3"></button></div>
			</div>
			<!--Model for the video-->
			<div class="modal fade" id="video3" role="dialog">
				<div class="modal-dialog">
				
				  <!-- Modal content-->
				  <div class="modal-content" style="height:500px">
					<!--Youtube video with autoplay after opening the modal-->
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/mH0sIjAHBVY?autoplay=1" allowfullscreen>
						</iframe>
				
				  </div>
				  
				</div>
			</div> 
	</div>

</div> 	
