.navbar-nav > li > a {
	padding-top:1px !important; 
	padding-bottom:1px !important;
}
.navbar {
	min-height:12px !important
}

.carousel-data{
	position:absolute;
	margin-top: 40%;
	width: 95%!important;
    height: 100px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: #fff;
 	opacity: 0.7;
}

.carousel-lowerdata{
 	width: 90px;
    height: 90px;
    border: 1px solid AliceBlue;	
    padding: 0px
}
.carousel-lowerdata-nav{
	width: 5px!important;
    height: 90px;
    
}

.trending-holidaysearch{
	width: 302.5px;
    height: 182px;
    border: 1px solid black;	
    padding: 0px
}