<html>
	<!--importing JS and CSS files-->
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
		</script>
		<script src="../js/backend.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		

	</head>
	
	<body>
		<!--Players-->
		<div class="players">
			<div id="11"class="floating-box divbackground">
				<h2>Player 1</h2>
			</div>
			
			<div id="22">
				<h2>Player 2</h2>
			</div>
		</div>
		<br><br><br>
		
		<!--region where a player clicks on to play-->
		<div class="players">
			<div id="1" class="floating-box floating"> 
			</div> 
			
			<div id="2" class="floating-box floating"> 
			</div> <br>
			
			<div id="3" class="floating-box floating"> 
			</div>

			<div id="4" class="floating-box floating"> 
			</div>
		
		</div>
	
	
	</body>

</html>