 <div layout-padding layout="column">

    <div layout="column" layout-align="center center">
      <div layout="row" class="md-display-1">Best Offers</div><br>
      <div layout="row" style="opacity: 0.5">Check out our top-rated tours</div>
      <md-icon md-font-icon="android" aria-label="android"></md-icon>
    </div>  
    <div layout="row">
        
      <md-card flex> 

        <img src="images/turkey.jpg" class="md-card-image" alt="image caption">
          
        <md-card-actions layout="row" layout-align="space-between">
          <md-button>Turkey</md-button>
          <md-button>$2000</md-button>
        </md-card-actions>
      </md-card>

      <md-card flex>      
          <img src="images/spain.jpg" class="md-card-image" alt="image caption">
          
        <md-card-actions layout="row" layout-align="space-between">
          <md-button>Spain</md-button>
          <md-button>$2000</md-button>
        </md-card-actions>
      </md-card>

      <md-card flex>      
          <img src="images/london.jpg" class="md-card-image" alt="image caption">
          
        <md-card-actions layout="row" layout-align="space-between">
          <md-button>London</md-button>
          <md-button >$2000</md-button>
        </md-card-actions>
      </md-card>

      
      
    </div>

    <div layout="row">
        
      <md-card flex>      
          <img src="images/easternEurope.jpg" class="md-card-image" alt="image caption">
          
        <md-card-actions layout="row" layout-align="space-between">
          <md-button>Eastern Europe</md-button>
          <md-button>$2000</md-button>
        </md-card-actions>
      </md-card>

      <md-card flex>      
          <img src="images/italy.jpg" class="md-card-image" alt="image caption">
          
        <md-card-actions layout="row" layout-align="space-between">
          <md-button>Italy</md-button>
          <md-button>$2000</md-button>
        </md-card-actions>
      </md-card>

      <md-card flex>      
          <img src="images/swissAlps.jpg" class="md-card-image" alt="image caption">
          
        <md-card-actions layout="row" layout-align="space-between">
          <md-button>Swiss Alps</md-button>
          <md-button >$2000</md-button>
        </md-card-actions>
      </md-card>

      
      
    </div>
    <div layout="row" layout-align="center center">
      <md-button class="toursButton" >View More</md-button>
    </div>
  </div>
