<div layout="row" layout-padding layout-margin>
        <div flex layout="column">
            <div layout="row">Our Contacts</div>

            <div layout="row" layout-margin>

              <div layout="column">
                <div layout="row" class="contactClass">
                  <i class="material-icons">place</i>
                  <div>Manchester,King Street,London,United Kingdom</div>
                </div>
                <div layout="row" class="contactClass">
                  <i class="material-icons" layout="column">call</i>
                  <div layout="column">345-677-554</div>
                </div>
              </div>
            
              <div layout="column">
                <div layout="row" class="contactClass">
                  <i class="material-icons">email</i>
                  <a>info@demolink.org</a>
                </div>

                <div layout="row" class="contactClass">
                  <i class="material-icons">email</i>
                  <a>info@demolink.org</a>
                </div>

                
              </div>
            </div>
        </div>

        <div flex layout="column">
            
          <div layout="row"><h4>Follow Us</h4></div>
          <div layout="row">

            <img src="images/facebook.png" height="40px">
            <img src="images/twitter.png" height="40px">
            <img src="images/youtube.png" height="40px">
            <img src="images/linkedin.png" height="40px">

            
          </div>

          
        </div>
       
       
    </div>