<div layout="column">
    <div layout-align="center center" layout="column">
      <p class="md-display-1" layout="row">What Customers Say</p>
      <div style="opacity: 0.5" layout="row">Our clients’ testimonials are the best proof of our high level of service</div>
    </div>

    <div layout="row" layout-padding style="margin-top: 50px;">
<!--  layout-align="center center" -->
      <div layout="column" class="reviews" layout-margin flex flex-offset="10" layout-align="space-around center">
        <img src="images/cust1.jpg">
        <p>JAMES SMITH</p>
        <i>"I would like to thanks you for giving me a wonderful service during my vacation. Really appreciate it."</i>
        <md-button class="toursButton">VIEW FULL INFO</md-button>

      </div>
      <div layout="column"  class="reviews" layout-margin flex layout-align="space-around center" >
        <img src="images/cust2.jpg">
        <p>MARY ANDERSON</p>
        <i>"I would like to thanks you for giving me a wonderful service during my vacation. Really appreciate it."</i>
        <md-button class="toursButton">VIEW FULL INFO</md-button>
      </div>

    </div><br>

   <div layout-align="center center" layout="column">
      <md-button class="toursButton"> VIEW MORE </md-button>
    </div>
  </div>