<div class="whySunTravelImage" layout="column" layout-padding layout-margin>
    <div layout="row" layout-align="center center" class="md-display-1" style="margin-top: 95px;">Why SunTravel</div>
    <div layout="row">
      <md-card layout="row" flex>
          <i class="material-icons whyIcons">view_list</i>

          <div flex="70" class="whyCards">
            <p><b>PERSONALIZED MATCHING</b></p>
            <p style="opacity: 0.5">We can provide up to 3 experienced travel specialists who fit best for your trip.</p>
          </div>
      </md-card>
      
        <md-card layout="row" flex>
          <i class="material-icons whyIcons">layers</i>
          <div flex="70" class="whyCards">
            <p><b>WIDE VARIETY OF DESTINATIONS</b></p>
            <p style="opacity: 0.5">With SunTravel, you’ll find a perfect destination among hundreds available.</p>
          </div>
      </md-card>
      
       <md-card layout="row" flex>
          <i class="material-icons whyIcons">thumb_up</i>
          <div flex="70" class="whyCards">
            <p><b>HIGHLY QUALIFIED SERVICE</b></p>
            <p style="opacity: 0.5">Our high level of service is officially recognized by thousands of clients.</p>
          </div>
      </md-card>
    </div>
    
    <div layout="row">
       <md-card layout="row" flex>
          <i class="material-icons whyIcons">person</i>
          <div flex="70" class="whyCards">
            <p><b>24/7 SUPPORT</b></p>
            <p style="opacity: 0.5">Our travel agents are always there to support you during your trip.</p>
          </div>
      </md-card>
      
      <md-card layout="row" flex>
          <i class="material-icons whyIcons">star_rate</i>
          <div flex="70" class="whyCards">
            <p><b>HANDPICKED HOTELS</b></p>
            <div>
            <p style="opacity: 0.5">We pick the hotels with the utmost reputation and positive reviews.</p></div>
          </div>
      </md-card>
      
       <md-card layout="row" flex>
         <i class="material-icons whyIcons">mood</i>
          <div flex="70" class="whyCards">
            <p><b>BEST PRICE GUARANTEE</b></p>
            <p style="opacity: 0.5">We guarantee you’ll get top-notch comfort at an affordable price.</p>
          </div>
      </md-card>
    </div>  

  </div>
